.composition {
  position: relative;
  max-width: 48rem;

  &__photo {
    width: 40rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;

    &--p1 {
      left: -23rem;
      top: -14rem;
    }
    &--p2 {
      right: -3rem;
      top: 2rem;
    }
    &--p3 {
      left: -7rem;
      top: 8rem;
    }
  }
}
